body {
    font-family: Arial, sans-serif;
    background-color: #fefefe;
    text-align: center;
    padding: 50px;
}

#botao{
    padding: 10px 20px;
    background-color: #0978FF;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #eee01a;
    opacity: 0.5;
}

img {
    max-width: 350px;
}